@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import "resets";
@import "variables";

@mixin flexCenter($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

@mixin mobile {
  @media (max-width: $mobile){
      @content;
  }
}

@mixin tablet {
  @media(max-width: $tablet){
    @content;
  }
}

p{
  font-weight: 400;
}

h3{
  font-weight: lighter;
}

.main-title{
  @include tablet{
    margin-right: 200px;
  }
  margin-right: 300px;
  position: left;
  border-bottom: solid 3px $tertiary-color;
}

.header {
  @include flexCenter (row);
  @include mobile;
  @include tablet{
    justify-content: flex-start;
  }
  display:flex;
  flex-wrap: wrap;
}

.logo img{
  @include mobile;
  @include tablet{
    margin: 10px 60px;
  }
  height: 80%;
  width: 50%;
  margin:10px;
}

.back-menu {
  @include flexCenter(row);
}

.fa-arrow-left { 
  @include tablet{
    margin-left: 80px;
  }
  @include mobile {
    margin-left: 10px;
  }
  color: black;
  padding: 10px; 
  min-width: 20%;
  font-size:24px;
} 

.image-background img {
  @include tablet {
    height: 380px;
  }
  @include mobile;
  width: 100%;
  object-fit:cover;
  height: 800px;
}

.plates-card {
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 2px 1px 0 rgba(192,192,192);
  -webkit-transition: ease-out 5s;
  -moz-transition: ease-out 5s;
  transition: ease-in 5s;
}

.card-link {
  animation: 5s fadeIn;
  animation-fill-mode: forwards;
  visibility: hidden;
  animation-delay: 2s;
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {
    visibility: visible;
    opacity: 1;
  }
}

.plates-card:hover{
  box-shadow: 0 6px 4px 0 rgba(192,192,192);
  background-color: rgb(241, 245, 245);
}

.plates-card-text {
  @include tablet{
    width: 300px;
  }
  font-size: 14px;
  height: 70px;
  width: 400px;
  color: black;
  padding: 10px 20px;
}

.plates-card-text p {
  display: flex;
  justify-content: space-between;
  height: 55px;  
}

.plates-card-text p:hover{
 margin-right: 70px; 
}

.plates-container {
  @include flexCenter(column);
  @include mobile{
    margin:0;
  }
  position: relative;
  gap: 20px;
}

.plates-header {
  @include tablet{
    justify-content: space-evenly;
  }
  @include mobile{
    justify-content: space-between;
  }
  display: flex;
  justify-content: space-around;
  padding: 20px;
  font-family: Shrikhand;
  font-weight: 400;
}

.plates-background {
  @include tablet{
    padding:0;
    top:380px;
    border-radius: 50px 50px 0 0;
    height: 1195px;
  }
  @include mobile {
    padding:10px;
    height: 1250px;
  }
  position: absolute;
  background-color: #F2F2F2;
  padding: 10px;
  border-radius: 120px 120px 0 0;
  top: 750px;
  width:100%;
}

.heart i{
  font-size: 24px;
  color: black;
  border-radius: 5px;
  float: right;
  height: 30px;
  min-width: 80px;
  position:relative;
  top:15px;
}

.heart i:hover{
  font-weight: 700;
  color:$secondary-color;
  transition: 2s;
}

.slide_left:hover {
  box-shadow: inset 328px 0 0 0  rgb(241, 245, 245), inset -72px 0 0 0  $tertiary-color; 
  border-radius: 0 15px 15px 0;
}

.button_slide {
  border-radius: 20px;
  display: inline-block;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}

.fa-check-circle {
  display:flex;
  height:55px;
  width:30px;
  font-size: 30px;
  color: white;
  float: right;  
}

.order-button {
  @include flexCenter (column);
  @include mobile{
    width: 170px;
  }
  @include tablet{
    margin: 10px 35%;
  }
  background-image: linear-gradient(to bottom, $secondary-color, $primary-color);
  border-radius: 25px;
  padding: 10px 20px;
  height: 50px;
  width: 220px;
  margin: 30px 40%;
  top: 1920px;
  }

.footer {
  @include tablet{
    top:1650px;
  }
  @include mobile{
    top: 1670px;
  }
  background-color:rgba(0, 0, 0, 0.863);
  padding: 20px 10px;
  margin-top: 32px;
  height: 300px;
  top: 2020px;
  width: 100%;
  position: absolute;
}

.logo1 img{
  @include mobile{
  height:18px;
  margin:0 10px;
  }
    height: 40px;
    filter: invert(100%);
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: left;
  
}

.footer a {
  color: white;
  padding: 10px;
}

.footer p {
  padding: 10px 0;
  
}

.footer a:hover {
  color: $tertiary-color;
}
