@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import "resets";
@import "variables";

@mixin flexCenter($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

@mixin mobile {
  @media (max-width: $mobile) {
      @content;
  }
}
@mixin tablet {
  @media(max-width: $tablet) {
    @content;
  }
}
@mixin laptop {
  @media(max-width: $laptop) {
    @content;
  }
}

p {
  font-weight: 400;
}

.top-header {
  @include flexCenter (column);
  @include mobile;
  display:flex;
  flex-wrap: wrap;
  padding: 20px;
  gap: 20px;
}

.header {
  @include flexCenter (column);
  padding: 10px;
    @include mobile {
    padding: 0;
    }
}

.explore-buttom {
 @include flexCenter (column);
  background-image: linear-gradient(to bottom, $secondary-color, $primary-color);
  border-radius: 25px;
  padding: 20px;
  height: 50px;
  width: auto;
  margin-left: auto;
 }

 .explore-buttom:hover {
   background-image: linear-gradient(to bottom, $primary-color, $secondary-color);
 }

 .explore-text {
   font-size: 18px;
   color: white;
   font-weight: 900;
 }

.buttom-name {
  @include flexCenter(row);
   font-weight: bold;
}

.buttom1,
.buttom2,
.buttom3 {
  @include mobile{
    width: 250px;
  }
  @include flexCenter(row);
  background-color: white;
  border-radius: 20px;
  border: solid #F2F2F2 2px;
  box-shadow: 0px 1px 1px 0px rgba(192,192,192);
  display: inline-flex;
  font-size: 15px;
  padding: 4px 10px;
  width: 300px;
}

.buttom1:hover,
.buttom2:hover,
.buttom3:hover {
  box-shadow: 1px 4px 2px 1px rgba(192,192,192);
  background-color:rgb(241, 245, 245);
}

.logo {
  @include flexCenter(row);
}

.logo img {
  height: 50%;
  width: 50%;
  margin:10px auto;
}

.search { 
  width: 100%; 
  margin-bottom: 10px; 
} 

.search i { 
  @include tablet {
    min-width: 30%;
  }
  @include mobile{
    min-width: 45%;
  }
  padding: 10px; 
  min-width: 20%;
  font-size:18px;
  position: absolute;

} 

.search-box { 
  background-image: linear-gradient(to bottom, rgba(189, 186, 186, 0.863),rgba(236, 231, 231, 0.832));
  border: none;
  font-weight: 700;
  font-size: 12px;
  width: 100%; 
  padding: 12px; 
  text-align: center; 
  outline: none;
} 

.search {
  @include flexCenter(row);
  width: 100%;
}

.new-restaurant {
  @include flexCenter(row);
  font-size: 16px;
  font-weight: 700;
  color: rgb(15, 61, 15);
  background-color: $tertiary-color;
  border-radius: 5px;
  float: right;
  height: 30px;
  min-width: 80px;
  position:relative;
  left: 70px;
  bottom: 140px;
}

.buttom-text {
  color: black;
  width: 200px;
}

.button-card:hover {
  box-shadow: 0 2px 1px 0 rgba(192,192,192);
}

.buttom-number {
  @include flexCenter(row);
  font-size: 20px;
  background-color: $primary-color;
  border-radius: 25px;
  color: white;
  float: left;
  height: 30px;
  margin: 0 30px 0 -40px;
  min-width: 30px;
  position: relative;
}

.buttom-icon {
  @include flexCenter(row);
  font-size: 20px;
  color: grey;
  height: 50px;
  margin: 0 0 0 -26px;
  min-width: 55px;
}

.buttom-icon1 {
  color:$primary-color;
  @include flexCenter(row);
  font-size: 20px;
  height: 50px;
  min-width: 55px;
  margin: 0 0 0 -26px;
}


.buttoms {
  @include flexCenter(row);
   @include mobile {
    @include flexCenter(column);
}
  @include tablet {
    @include flexCenter(column);
  }
  flex-wrap: wrap;
  padding: 20px;
  gap: 40px;
  height: auto;
}

.buttoms-name {
  font-weight: 900;
}

.restaurants p{
  font-weight: 400;
}
.restaurant-card { 
  @include laptop {
    width: 280px;
  }
  background-color: white;
  border-radius: 20px;
  box-shadow: 1px 1px 1px 1px rgba(192,192,192);
  width: 300px;
}

.restaurant-card:hover {
  box-shadow: 0 6px 4px 0 rgba(192,192,192);
  background-color: rgb(241, 245, 245);
}

.restaurant-card img {
  border-radius: 20px 20px 0 0;
  height: 150px;
  width: 100%;
  object-fit: cover;
  position: relative;
}

.restaurant-card-text {
  display:flex;
  flex-direction: column;
  font-size: 14px;
  height: 70px;
  color: black;
  margin: 10px;
}

.restaurants-container {
  @include tablet {
    flex-direction: column;
  }
   @include mobile{
    flex-direction: column;
   }
  @include flexCenter(row);
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}   

.restaurant-header {
  @include tablet {
    margin-left: 30px;
  }
  @include laptop{
    margin-left: 80px;
  }
  display: flex;
  justify-content: flex-start;
  margin-left: 10px;
  padding: 20px;
}

.restaurants-background {
  background-color: #F2F2F2;
  padding: 10px;
  width: 100%;
}   

.heart i {
  font-size: 20px;
  color: black;
  border-radius: 5px;
  float: right;
  height: 30px;
  min-width: 80px;
  position:relative;
  top:15px;
}

.heart i:hover {
  font-weight: 700;
  color:$secondary-color;
  transition: 2s;
}

.footer {
  background-color:rgba(0, 0, 0, 0.863);
  padding: 20px 10px;
  margin-top: 32px;
  height: 300px;
}

.logo1 img {
  @include mobile {
  height:18px;
  margin:0 10px;
 }
 height: 40px;
 filter: invert(100%);
 }
 
.column {
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.footer a {
  color: white;
  padding: 10px;
}

.footer p {
  padding: 10px 0;
}

.footer a:hover {
  color: $tertiary-color;
}
