@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
* {
  box-sizing: border-box;
  font-family: "Roboto", "Shrikhand";
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  margin: 0px;
  height: 100vh;
}

p {
  font-weight: 400;
}

.top-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  gap: 20px;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}

.explore-buttom {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(to bottom, #FF79DA, #9356DC);
  border-radius: 25px;
  padding: 20px;
  height: 50px;
  width: auto;
  margin-left: auto;
}

.explore-buttom:hover {
  background-image: linear-gradient(to bottom, #9356DC, #FF79DA);
}

.explore-text {
  font-size: 18px;
  color: white;
  font-weight: 900;
}

.buttom-name {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-weight: bold;
}

.buttom1,
.buttom2,
.buttom3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: white;
  border-radius: 20px;
  border: solid #F2F2F2 2px;
  box-shadow: 0px 1px 1px 0px silver;
  display: inline-flex;
  font-size: 15px;
  padding: 4px 10px;
}

.buttom1:hover,
.buttom2:hover,
.buttom3:hover {
  box-shadow: 1px 4px 2px 1px silver;
  background-color: #f1f5f5;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.logo img {
  height: 50%;
  width: 50%;
  margin: 10px auto;
}

.search {
  width: 100%;
  margin-bottom: 10px;
}

.search i {
  padding: 10px;
  min-width: 20%;
  font-size: 18px;
  position: absolute;
}
@media (max-width: 800px) {
  .search i {
    min-width: 45%;
  }
}

.search-box {
  background-image: linear-gradient(to bottom, rgba(189, 186, 186, 0.863), rgba(236, 231, 231, 0.832));
  border: none;
  font-weight: 700;
  font-size: 12px;
  width: 100%;
  padding: 12px;
  text-align: center;
  outline: none;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
}

.new-restaurant {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-size: 16px;
  font-weight: 700;
  color: #0f3d0f;
  background-color: #99E2D0;
  border-radius: 5px;
  float: right;
  height: 30px;
  min-width: 80px;
  position: relative;
  right: 8px;
  bottom: 140px;
}

.buttom-text {
  color: black;
}

.button-card:hover {
  box-shadow: 0 2px 1px 0 silver;
}

.buttom-number {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-size: 20px;
  background-color: #9356DC;
  border-radius: 25px;
  color: white;
  float: left;
  height: 30px;
  margin: 0 15px 0 -26.5px;
  min-width: 30px;
  position: relative;
}

.buttom-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-size: 20px;
  border-radius: 25px;
  color: grey;
  float: left;
  height: 50px;
  margin: 0 15px 0 -26.5px;
  min-width: 55px;
  position: relative;
}

.buttom-icon1 {
  color: #9356DC;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-size: 20px;
  border-radius: 25px;
  color: #9356DC;
  float: left;
  height: 50px;
  margin: 0 15px 0 -26.5px;
  min-width: 55px;
  position: relative;
}

.buttoms {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px;
  gap: 40px;
  height: auto;
}
@media (max-width: 800px) {
  .buttoms {
    width: 90%;
  }
}
@media (max-width: 880px) {
  .buttoms {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

.buttoms-name {
  font-weight: 900;
}

.restaurants p {
  font-weight: 400;
}

.restaurant-card {
  background-color: white;
  border-radius: 20px;
  box-shadow: 1px 1px 1px 1px silver;
  width: 300px;
}

.restaurant-card:hover {
  box-shadow: 0 6px 4px 0 silver;
  background-color: #f1f5f5;
}

.restaurant-card img {
  border-radius: 20px 20px 0 0;
  height: 150px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
}

.restaurant-card-text {
  font-size: 14px;
  height: 70px;
  width: 300px;
  color: black;
  padding: 10px 20px;
}

.restaurants-header {
  padding: 20px;
}

.restaurant-branch {
  display: flex;
  flex-wrap: wrap-reverse;
  gap: 20px;
  justify-content: center;
}

.heart {
  font-size: 20px;
  color: black;
  float: right;
  font-weight: lighter;
  overflow: hidden;
}

.heart:hover {
  color: #FF79DA;
}

.restaurants-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-evenly;
}

.restaurant-header {
  display: flex;
  justify-content: flex-start;
  margin-left: 10px;
}

.restaurants-background {
  background-color: #F2F2F2;
  padding: 10px;
  width: 100%;
}

.footer {
  background-color: black;
  padding: 0 20px;
  margin: 20px auto;
}

.logo1 img {
  height: 40px;
  filter: invert(100%);
}
@media (max-width: 800px) {
  .logo1 img {
    height: 20px;
    margin: 0 10px;
  }
}

.footer {
  background-color: rgba(0, 0, 0, 0.863);
  padding: 20px 10px;
  margin-top: 32px;
  height: 300px;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.footer a {
  color: white;
  padding: 10px;
}

.footer p {
  padding: 10px 0;
}

.footer a:hover {
  color: #99E2D0;
}
